<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <!--<div id="text" style="position: absolute; top: 60%; left: 70%;"><p>添加文字</p></div>-->
    <img src="{{ ans }}" class="img-responsive">
    <!-- <img src="/share/new/share.png" class="img-responsive"> -->
</body>
</html>
